html, body{
	width:100%;
	height:100%;
	overflow: hidden;
	cursor: none;
}
body{
	margin:0;

	font-family: "FuturaHandwritten";
	font-size: 20px;
	line-height: 1.5em;
}

/* SIMULATION and SLIDESHOW */
#container{
	position: absolute;
	top:0; left:0;
	width: 100%;
	height: calc(100% - 60px);
}
#container[sim_is_running]{
	background: #eee;
}
#container > div{
	position: absolute;
	width: 100%; height: 100%;
	overflow: hidden;
	cursor: none;
}
#simulations, #slideshow{
	position: absolute;
	width: 960px;
	height: 540px;
	margin: auto;
	top:0; left:0; right:0; bottom:0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
#simulations canvas, #slideshow > div{
	position: absolute;
}
#slideshow .box.image{
	background-size: 100% 100%;
}
#slideshow .next_button{
	display: inline-block;
	/*margin: 0 auto;*/
	position: relative;
	top: -10px;
	width: 300px;
    height: 20px;
    padding: 40px 0;
	background-image: url(../sprites/button_large.png);
	background-size: 100% auto;
	text-align: center;
}
#slideshow .next_button:hover{
	background-position: 0 -100px;
}
.transitionable{
	transition: opacity 0.3s ease-in-out,
			    left 0.3s ease-in-out,
			    top 0.3s ease-in-out;
}
#scratch{
	display: none;
	pointer-events: none;
	background-image: url(../sprites/scratch.png); 
	background-size: 200% 2000%;
    background-position: 0% 0%;
}

/* Sim UI */
.sim_ui{
	position: absolute;
	width: 200px;
	height: 100px;
	border: none !important;
}
.sim_ui > div{
	position: absolute;
	background: #dd4040;
	color: #fff;
	text-align: center;
	border-radius: 10px;
}
.sim_ui > #reset_button{
	width: 150px;
	left:25px;
	top:0px;
	font-size: 0.8em;
	transition: top 0.3s ease-in-out;
}
.sim_ui > #start_button{
	width: 200px;
	padding: 0.5em 0;
}
.sim_ui[active] > #reset_button{
	top:60px;
}

/* Sandbox UI */
.sandbox_ui{
	width: 270px;
}
.sandbox_ui input[type="range"]{
	width: 100%;
}
.choose_one{
	overflow: hidden;
}
.choose_one > div{
	float: left;
	margin: 3px;
	opacity: 0.25;
}
.choose_one > div[selected]{
	opacity: 1;
}
.choose_color{
	width: 40px;
	height: 40px;
	background: url(../sprites/peeps.png);
	background-size: auto 100%;
	transform: scale(1.2);
}
.choose_tool{
	background: #fff;
	font-size: 16px;
	line-height: 16px;
	border: 1px solid black;
	padding: 3px;
	border-radius: 5px;
}
.choose_tool > #icon{
	display: inline-block;
	width:16px; height:16px;
	background: url(../sprites/sandbox_tools.png);
	background-size: auto 100%;
}
#sandbox_shortcuts_label{
	font-size: 18px; 
}
#sandbox_shortcuts{
	font-size: 14px;
	line-height: 1.5em;
	color: #999;
}

/* MODAL */
#modal{
	display: none;
}

/* NAVIGATION */
#navigation_container{
	position: absolute;
	bottom:0;
	background: #222;
	width: 100%;
	height:60px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
#navigation{
	position: absolute;
	top: 10px;
	left: calc(50% - 300px);
	width: 600px;
	text-align: center;
}
#navigation > div{
	width: 35px;
	height: 35px;
	background: #222;
	color:#fff;
	border-radius: 20px;
	display: inline-block;
	border: 1px solid #fff;
	margin: 0 1px;
	text-align: center;
	overflow: hidden;
	line-height: 34px;
}
#navigation > div[highlight]{
	background: #fff;
	color: #222;
}
#navigation > div > span:nth-child(1){
	position: relative;
	top: 1px;
	display: block;
}
#navigation > div > span:nth-child(2){
	display: none;
}
#navigation > div:hover{
	background: rgba(255,255,255,0.25);
}
#navigation > div[highlight]:hover{
	background: #fff;
}
#navigation > span.nav_divider{
	width: 2px;
	height: 40px;
	background: rgba(255,255,255,0.2);
	border-radius: 20px;
	display: inline-block;
	margin: 0 8px;
}
#navigation > span#nav_bubble{
	
	transition: opacity 0.2s ease-in-out,
			    left 0.2s ease-in-out,
			    top 0.2s ease-in-out;

	display: none;
	opacity: 0;
	
	position: absolute;
	top:-80px;
	left:0;
	
	background: rgba(0,0,0,0.8);
	color: #fff;
	text-align: center;
	border-radius: 20px;
	font-size: 18px;
    
    width: 220px;
    padding: 6px 0;

}
#navigation > span#nav_bubble:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0,0,0,0.8);
	border-width: 15px;
    margin-left: -15px;
}

/* PENCIL */
#pencil{
	position: absolute;
	width:100px;
	height:100px;
	pointer-events: none;
	cursor: none;
}

/* THIS THING'S WORDS */
words, bonus, glossary{
	display: none;
}

/* TO SEE LAYOUT */
/*.box, #simulations{
	border: 1px solid #eee;
}*/



