html, body{
	width:100%;
	height:100%;
	overflow: hidden;
	cursor: none;
}
body{
	margin:0;

	font-family: "FuturaHandwritten";
	font-size: 22px;
	line-height: 1.5em;
}

/* SIMULATION and SLIDESHOW */
#simulations_container, #slideshow_container{
	position: absolute;
	top:0; left:0;
	width: 100%;
	height: calc(100% - 60px);
	overflow: hidden;
	cursor: none;
}
#simulations, #slideshow{
	position: absolute;
	width: 960px;
	height: 540px;
	margin: auto;
	top:0; left:0; right:0; bottom:0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
#simulations canvas, #slideshow > div{
	position: absolute;
}
#slideshow .box.image{
	background-size: 100% 100%;
}
#slideshow .next_button{
	margin: 0 auto;
	position: relative;
	top: -10px;
	width: 300px;
    height: 20px;
    padding: 40px 0;
	background-image: url(sprites/button_large.png);
	background-size: 100% auto;
	text-align: center;
}
#slideshow .next_button:hover{
	background-position: 0 -100px;
}

/* NAVIGATION */
#navigation{
	position: absolute;
	bottom:0;
	background: #222;
	width: 100%;
	height:60px;
}

/* PENCIL */
#pencil{
	position: absolute;
	width:100px;
	height:100px;
	pointer-events: none;
	cursor: none;
}

/* THIS THING'S WORDS */
words, bonus, glossary{
	display: none;
}
