html, body{
	width:100%;
	height:100%;
	overflow: hidden;
	cursor: none;
}
body{
	margin:0;

	font-family: "FuturaHandwritten";
	font-size: 22px;
	line-height: 1.5em;
}

/* SIMULATION and SLIDESHOW */
#container{
	position: absolute;
	top:0; left:0;
	width: 100%;
	height: calc(100% - 60px);
}
#container[sim_is_running]{
	background: #eee;
}
#container > div{
	position: absolute;
	width: 100%; height: 100%;
	overflow: hidden;
	cursor: none;
}
#simulations, #slideshow{
	position: absolute;
	width: 960px;
	height: 540px;
	margin: auto;
	top:0; left:0; right:0; bottom:0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
#simulations canvas, #slideshow > div{
	position: absolute;
}
#slideshow .box.image{
	background-size: 100% 100%;
}
#slideshow .next_button{
	display: inline-block;
	/*margin: 0 auto;*/
	position: relative;
	top: -10px;
	width: 300px;
    height: 20px;
    padding: 40px 0;
	background-image: url(sprites/button_large.png);
	background-size: 100% auto;
	text-align: center;
}
#slideshow .next_button:hover{
	background-position: 0 -100px;
}
.transitionable{
	transition: opacity 0.3s ease-in-out,
			    left 0.3s ease-in-out,
			    top 0.3s ease-in-out;
}
#scratch{
	display: none;
	pointer-events: none;
	background-image: url(sprites/scratch.png); 
	background-size: 200% 2000%;
    background-position: 0% 0%;
}
.sim_button{
	position: absolute;
	width: 200px;
	height: 100px;
	border: none !important;
}
.sim_button > div{
	position: absolute;
	background: #dd4040;
	color: #fff;
	text-align: center;
	border-radius: 10px;
}
.sim_button > #reset_button{
	width: 150px;
	left:25px;
	top:0px;
	font-size: 0.8em;
	transition: top 0.3s ease-in-out;
}
.sim_button > #start_button{
	width: 200px;
	padding: 0.5em 0;
}
.sim_button[active] > #reset_button{
	top:60px;
}

/* MODAL */
#modal{
	display: none;
}

/* NAVIGATION */
#navigation{
	position: absolute;
	bottom:0;
	background: #222;
	width: 100%;
	height:60px;
}

/* PENCIL */
#pencil{
	position: absolute;
	width:100px;
	height:100px;
	pointer-events: none;
	cursor: none;
}

/* THIS THING'S WORDS */
words, bonus, glossary{
	display: none;
}

/* TO SEE LAYOUT */
.box, #simulations{
	border: 1px solid #eee;
}